{% extends "base.html" %}
{% block head %}
<title>Khalil Restuarant</title>
{% endblock head %}


{% block startslides %} {% include "Home/includes/startslides.html" %} {% endblock  %}
{% block startabout %}{% include "Home/includes/startabout.html" %}{% endblock startabout %}
{% block startqt %} {% include "Home/includes/starqt.html" %} {% endblock startqt %}
{% block startmenu %}{% include "Home/includes/startmenu.html" %}{% endblock startmenu %}
{% block startgallery %}{% include "Home/includes/startgallery.html" %}{% endblock startgallery %}
{% block startcustomreviews %}{% include "Home/includes/startcustomreviews.html" %}{% endblock startcustomreviews %}

