	{% load  static %}
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>Khaliland Restaranına <span>Xoş gəlmisiniz!</span></h1>
						{% for setting in settings  %}
						<p>{{setting.about_short|safe}}</p>
						{% endfor %}
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="{% url 'reservation:reserv' %}">Elə indi rezerv et!</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="{% static 'images/about-img.jpg' %}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->